---
import Weblayout from "../layouts/Layout.astro";
---

<Weblayout langage="fr" title="LegendWeb">

    <div class="toppage-creer">
        <div class="spacemarge">
            <h1>Votre entreprise sous son meilleur jour</h1>

            <p>Vous souhaitez vous démarquer de la concurrence ? Rayonner auprès de vos prospects et gagner des leads ?
            Comptez sur nous pour vous appuyer avec une solution adaptée à chacun de vos besoins et faire naître un véritable écrin institutionnel
            pour votre entreprise !</p>
            <div class="buttontop-creer">
                <a href="contact.html" class="topbutton-start-creer">Lancer mon projet</a>
            </div>
            <div class="imgcreer">
                <img src="/assets/creer.svg" alt="creer">
            </div>
        </div>
    </div>

</Weblayout>