---
import Weblayout from "../layouts/Layout.astro";
---

<Weblayout langage="fr" title="LegendWeb">
    <div class="toppage">
        <h1>L'agence digitale et marketing qui compose vos outils à la carte.</h1>

        <p>En tirant parti des technologies web les plus récentes, LegendWeb vous aide à renforcer votre efficacité opérationnelle,
            à dynamiser votre stratégie marketing et à assurer que vos équipes de vente et de support délivrent une expérience client hors du commun.
        </p>
        <div class="buttontop">
            <a href="../pages/index" class="topbutton-start">Lancer mon projet</a>
            <a href="../pages/index" class="topbutton-contact">Nous contacter</a>
        </div>
    </div>

    <div class="services">
        <div class="nosservices">
            <img src="/assets/create.svg" alt="Créer">
        </div>

        <div class="nosservices">
            <img src="/assets/X.svg" alt="X">
        </div>

        <div class="nosservices">
            <img src="/assets/promouvoir.svg" alt="Promouvoir">
        </div>
    </div>

</Weblayout>