---

---

<footer>
    <div class="footer-section">
      <h3>Créer</h3>
      <ul>
        <li>Développement sur-mesure</li>
        <li>Connecteurs API</li>
        <li>Site vitrine</li>
        <li>E-commerce</li>
        <li>App. Mobile</li>
      </ul>
    </div>
  
    <div class="footer-section">
      <h3>Promouvoir</h3>
      <ul>
        <li>Stratégie marketing</li>
        <li>Identité de marque</li>
        <li>Supports de communication</li>
        <li>Référencement naturel (SEO)</li>
        <li>Référencement payant (SEA)</li>
        <li>Marketing automation</li>
      </ul>
    </div>
  
    <div class="footer-section">
      <h3>LegendWeb</h3>
      <ul>
        <li>Carrières</li>
        <li>Mentions légales</li>
        <li>Politique de confidentialité</li>
      </ul>
    </div>
  
    <div class="footer-section">
      <h3>Le Groupe</h3>
      <ul>
        <li>LegendWeb</li>
        <li>Kylian</li>
        <li>......</li>
        <li>======</li>
        <li>------</li>
      </ul>
    </div>
  </footer>
  