---

---


    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="/index.html">LegendWeb</a>
            </div>
            <ul class="nav-links">
                <li class="dropdown">
                    <a href="#">Créer</a>
                    <div class="dropdown-content">
                        <a href="#">Option 1</a>
                        <a href="#">Option 2</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#">Promouvoir</a>
                    <div class="dropdown-content">
                        <a href="#">Option A</a>
                        <a href="#">Option B</a>
                    </div>
                </li>
                <li><a href="/aproposdenous.html">A propos de Nous</a></li>
                <li><a href="#">Carrières</a></li>
            </ul>
            <div class="contact-info">
                <a href="/contact.html" class="contact-button">Nous contacter</a>
            </div>
        </nav>
    </header>
    
