---
import '../styles/style.scss';
import WebHeader from '../components/WebHeader.astro';
import WebFooter from '../components/WebFooter.astro';

interface Props {
	title?: string;
	langage?: string;
}

const { title = "Mon Site" } = Astro.props;
const { langage = "fr" } = Astro.props;
---


<!DOCTYPE html>
<html lang={langage}>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{title}</title>
	<link rel="icon" href="/favicon.png">
</head>

<body>
	<!-- Header -->
	<WebHeader />
	<slot />

<!-- FOOTER -->

	<WebFooter />

</body>
</html>


<script src="../interaction/script.js"></script>